Data Preparation

Explore the column in dataset, write the descriptions
#1. what is this data
#2.what is this data for

In [4]:
import pandas as pd
import math
import numpy as np
import numpy as np
import pandas as pd
import shapefile as shp
import matplotlib.pyplot as plt
import seaborn as sns

Our team first look at the data set and figure out which column is stand for. Then, we clean the data set by setting xxxx.

In [11]:
#df fips
#load, clean the data
fips_df = pd.read_csv('data/fips2county.tsv', sep='\t', header='infer', dtype=str, encoding='latin-1')
fips_df

,StateFIPS,CountyFIPS_3,CountyName,StateName,CountyFIPS,StateAbbr,STATE_COUNTY
0,01,001,Autauga,Alabama,01001,AL,AL | AUTAUGA
1,01,003,Baldwin,Alabama,01003,AL,AL | BALDWIN
2,01,005,Barbour,Alabama,01005,AL,AL | BARBOUR
3,01,007,Bibb,Alabama,01007,AL,AL | BIBB
4,01,009,Blount,Alabama,01009,AL,AL | BLOUNT
...,...,...,...,...,...,...,...
3138,56,037,Sweetwater,Wyoming,56037,WY,WY | SWEETWATER
3139,56,039,Teton,Wyoming,56039,WY,WY | TETON
3140,56,041,Uinta,Wyoming,56041,WY,WY | UINTA
3141,56,043,Washakie,Wyoming,56043,WY,WY | WASHAKIE
3142,56,045,Weston,Wyoming,56045,WY,WY | WESTON

In [15]:
#When we enter the fips data set, we can filter the thousands of locations by the area we are interested in country wide. such as we can pick state_county related ti berkeley which is  to Ca|al
alameda_info = fips_df[fips_df['STATE_COUNTY'] == 'CA | ALAMEDA']
alameda_info

,StateFIPS,CountyFIPS_3,CountyName,StateName,CountyFIPS,StateAbbr,STATE_COUNTY
187,06,001,Alameda,California,06001,CA,CA | ALAMEDA

Our team explore the data set Cancer regression. And clean the data set by encoding xxx.

In [11]:
#df cancer
cancer_df = pd.read_csv('data/cancer_reg.csv', encoding='latin-1')
cancer_df

,avgAnnCount,avgDeathsPerYear,TARGET_deathRate,incidenceRate,medIncome,popEst2015,povertyPercent,studyPerCap,binnedInc,MedianAge,...,PctPrivateCoverageAlone,PctEmpPrivCoverage,PctPublicCoverage,PctPublicCoverageAlone,PctWhite,PctBlack,PctAsian,PctOtherRace,PctMarriedHouseholds,BirthRate
0,1397.000000,469,164.9,489.800000,61898,260131,11.2,499.748204,"(61494.5, 125635]",39.3,...,NaN,41.6,32.9,14.0,81.780529,2.594728,4.821857,1.843479,52.856076,6.118831
1,173.000000,70,161.3,411.600000,48127,43269,18.6,23.111234,"(48021.6, 51046.4]",33.0,...,53.8,43.6,31.1,15.3,89.228509,0.969102,2.246233,3.741352,45.372500,4.333096
2,102.000000,50,174.7,349.700000,49348,21026,14.6,47.560164,"(48021.6, 51046.4]",45.0,...,43.5,34.9,42.1,21.1,90.922190,0.739673,0.465898,2.747358,54.444868,3.729488
3,427.000000,202,194.8,430.400000,44243,75882,17.1,342.637253,"(42724.4, 45201]",42.8,...,40.3,35.0,45.3,25.0,91.744686,0.782626,1.161359,1.362643,51.021514,4.603841
4,57.000000,26,144.4,350.100000,49955,10321,12.5,0.000000,"(48021.6, 51046.4]",48.3,...,43.9,35.1,44.0,22.7,94.104024,0.270192,0.665830,0.492135,54.027460,6.796657
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3042,1962.667684,15,149.6,453.549422,46961,6343,12.4,0.000000,"(45201, 48021.6]",44.2,...,54.9,44.6,31.7,13.2,90.280811,3.837754,0.327613,1.700468,51.063830,7.773512
3043,1962.667684,43,150.1,453.549422,48609,37118,18.8,377.175494,"(48021.6, 51046.4]",30.4,...,53.3,48.6,28.8,17.7,75.706245,2.326771,4.044920,14.130288,52.007937,8.186470
3044,1962.667684,46,153.9,453.549422,51144,34536,15.0,1968.959926,"(51046.4, 54545.6]",30.9,...,52.6,47.8,26.6,16.8,87.961629,2.313188,1.316472,5.680705,55.153949,7.809192
3045,1962.667684,52,175.0,453.549422,50745,25609,13.3,0.000000,"(48021.6, 51046.4]",39.0,...,56.3,49.6,29.5,14.0,92.905681,1.176562,0.244632,2.131790,58.484232,7.582938
3046,1962.667684,48,213.6,453.549422,41193,37030,13.9,0.000000,"(40362.7, 42724.4]",26.2,...,60.3,22.9,25.1,12.6,70.098132,16.590100,3.177753,1.356457,56.040242,8.981723

In [12]:
# add a new column 'Target_div_Income'
cancer_df['Target_div_Income'] = cancer_df['TARGET_deathRate'] / cancer_df['medIncome']

# extract state and county from 'Geography' column and create new columns
cancer_df[['County', 'State']] = cancer_df['Geography'].str.extract(r'(.+), (.+)')
cancer_df['County'] = cancer_df['County'].str.replace(' County', '')

# manually change two county names
cancer_df.loc[166, 'County'] = 'Dona Ana County'
cancer_df.loc[820, 'County'] = 'La Salle Parish'

# merge the dataframes to get the FIPS codes
cancer_df = pd.merge(cancer_df, fips_df,
                     left_on=['County'], right_on=['CountyName'], how='left')

# add a new column 'Target_div_LogIncome'
cancer_df['Target_div_LogIncome'] = cancer_df['TARGET_deathRate'] / \
                                    (cancer_df['medIncome'].apply(lambda x: math.log(x)))

cancer_df
# create a new dataframe for graphdata with columns 'fips' and 'values'
graphdata = pd.DataFrame({'fips': cancer_df['CountyFIPS'],
                          'values': cancer_df['Target_div_LogIncome'],
                          'CountyFIPS': cancer_df['CountyFIPS']})

In [13]:
# create a new dataframe newbieLOG with column 'anomalies'
newbieLOG = graphdata.copy()
newbieLOG['anomalies'] = (newbieLOG['values'] - newbieLOG['values'].mean()) / newbieLOG['values'].std()
newbieLOG['anomalies'] = np.where((newbieLOG['anomalies']) > 1, (newbieLOG['anomalies']), 0)
newbieLOG = newbieLOG[['fips', 'anomalies']]
newbieLOG

        fips  anomalies
0      53035   0.000000
1      53037   0.000000
2      53039   0.000000
3      16061   0.000000
4      21135   0.000000
...      ...        ...
14223  48159   0.000000
14224  50011   0.000000
14225  51067   0.000000
14226  53021   0.000000
14227  20061   1.140201

[14228 rows x 2 columns]